<div class="container-fluid">

<%= form_with(model: client_workout, local: true) do |form| %>
  <% if client_workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client_workout.errors.count, "error") %> prohibited this client_workout from being saved:</h2>

      <ul>
      <% client_workout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card" style="width: 50rem;">
  <div class="card-body">

    <div class="field">
    <%= form.label :id %>
    <%= form.text_field :id, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :trainer %>
    <%= form.text_field :trainer , class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.number_field :duration , class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :dateofworkout %>
    <%= form.datetime_select :dateofworkout , class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :paidamount %>
    <%= form.text_field :paidamount , class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
</div>
</div>